/* Geral */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #2B2B2B;
}

.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 4.5vw;
	color: white;
	margin-bottom: 1rem;
	font-family: 'Courier New', Courier, monospace;
}

/* Card */
.card {
	background-color: #4F4F4F;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 2vw 3vw;
	margin: 2rem;
    margin-bottom: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 55vw;
}

.card-content {
	flex: 1;
}

#custom-text {
	display: block;
	padding-top: 0;
	margin-bottom: 10px;
	color: #ffffff;
}

#custom-commit {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	border: none;
	border-radius: 5px;
	width: 25vw;
	padding: 10px;
	padding-bottom:0px;
	margin: 10px;
	outline: none;
	resize: none;
}

.card-text {
	background-color: #ffffff;
	width: 50vw;
	padding: 2%;
	text-align: center;
	font-size: 1.5rem;
	margin-top: auto;
	border-radius: 5px;
}

/* Botões */
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2vw;
}

button {
	background-color: orange;
	border: none;
	border-radius: 0.5vw;
	padding: 1vw 2vw;
	margin: 0 1rem;
	cursor: pointer;
	font-size: 1.2rem;
	color: blacks;
	transition: background-color 0.3s ease-out;
}

button:hover {
	background-color: #b97a04;
}


#custom-input{
	display: none;
}

#custom-buttons{
	display: none;
}

#copy-phrase {
	color: #19ff8491;
	font-size: 1rem;
	margin-top: 1rem;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: orange;
	min-width: 160px;
	width: auto;
	overflow: auto;
	white-space: nowrap;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 0.5vw;
}

.show {display: block;}

.checkbox-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.settings {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;
}


.checkbox-container label, .checkbox-container input[type="checkbox"] {
	margin: 10px 2px;
}

.dropdown-content, h1, #copy-phrase, button{
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
	-webkit-user-select: none;    /* Chrome, Safari 3 */
	-khtml-user-select: none;     /* Safari 2 */
	-moz-user-select: none;       /* Firefox */
	-ms-user-select: none;        /* IE10+ */
	user-select: none;            /* Possível implementação no futuro */
	/* cursor: default; */
}
